@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400&display=swap');

body {
  background-color: #131722;
  color: white !important;
  font-family: 'Merriweather', serif;
}

.title {
  position: relative;
}

.title::after {
  content: "";
  width: 25%;
  height: 2px;
  background-color: #5367FB;
  position: absolute;
  bottom: 160%;
  left: 0;
}

.title::before {
  content: "";
  width: 70%;
  height: 2px;
  background-color: #5367FB;
  position: absolute;
  top: 160%;
  left: 0;
}

a,
a:hover {
  text-decoration: none;
  color: white;
}

.navBg {
  background-color: #5367FB;
}

i {
  cursor: pointer;
  transition: all 0.1s;

}

.hoverScale {
  transition: all 0.1s;
  margin-left: 10px;
}

i:hover,
.hoverScale:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.movie,
.tv {
  position: relative;
  overflow: hidden;
}

.nameLayer {
  background-color: rgba(83, 103, 251, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  transition: all 0.5s;
}

.movie:hover .nameLayer {
  top: 0px;

}

.tv:hover .nameLayer {
  top: 0px;

}

h6 {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: large;

}